{% include "base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'form.css' %}">
{% block body %}
{% endblock body %}

<style>
   .f-done-mail{
     color: blue;
     text-decoration: none;
   }
   .f-done-mail:hover{
     text-decoration: underline;
   }
</style>

<div id="forgot-email-sent">
  <h3>Password Reset Sent</h3>
  We’ve emailed you instructions for setting your password, if an account exists with the email you entered. <br>You should receive them shortly.
  <br>
  <br>
  If you don’t receive an email, please make sure you’ve entered the address you registered with, <br>and check your spam folder.
  <br><br>
  Quick Redirect: &nbsp;
  <a href="https://mail.google.com/" class="f-done-mail">Go to Gmail</a> | <a href="https://outlook.live.com/" class="f-done-mail">Go to Outlook</a> | <a href="https://www.icloud.com/" class="f-done-mail">Go to iCloud Mail</a>
</div>
