{% include "base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'form.css' %}">
{% block body %}
{% endblock body %}

<div id="form-loading">
  <div id="form-loading-content">
    <div class="loadingio-spinner-gear-79p8ckcu4f3"><div class="ldio-a47uklsyd4">
    <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div></div>
    <div id="loading-txt">
      Updating Password . . .<br>
      <span id="loading-dont-leave">Please, Dont leave this page!</span>
    </div>
  </div>
</div>

{% if validlink %}
<div id="main-form-forgot-reset-password">
  <h3>Enter New Password</h3> <br class="hide-for-mobile">
  <div id="main-form-forgot-reset-password-info">Please enter your new password twice so we can verify you typed it in correctly.</div>
  <form class="f" id="f" method="post">
    {% csrf_token %}
    {% for f in form %}
      {{ f.label_tag }} &nbsp; &nbsp;
      {{ f }}
      {% if f.help_text %}
        <small style="color: gray;">{{ f.help_text }}</small>
      {% endif %}
      {% for error in f.errors %}
        <br>
        <small style="color: red;">{{ error }}</small>
      {% endfor %}
      <br>
    {% endfor %}
    <button type="submit" id="button" style="margin-top:40px;" class="hide-for-mobile">Change My Password</button>
    <button type="submit" id="forgot-reset-password-button" style="margin-top:40px;"  class="hide-for-pc">Change My Password</button>
  </form>
</div>
{% else %}
  <div style="margin-left:150px; margin-top:25px;">
    <strong style="font-size:22px;">Invalid Token.</strong>
    <p>Request a new password reset token from <a href="{% url 'reset_password' %}" style="color:blue;">Forgot Password Page</a></p>
  </div>
{% endif %}

<script type="text/javascript">
  $('#f').submit(function(){
    var loading = document.getElementById('form-loading');
    loading.style.display = "block";
  })
</script>
