{% include "base.html" %}


{% block body %}
{% endblock body %}

<style>
    #f-done{
      margin-left: 150px;
      margin-top: 40px;
    }
   .f-done-c{
     color: blue;
     text-decoration: none;
   }
   .f-done-c:hover{
     text-decoration: underline;
   }
   @media only screen and (max-width: 600px) {
     #f-done{
       margin-left: 10px;
       margin-top: 10px;
     }
   }
</style>

<div id="f-done">
  <h3 style="font-size:22px;">Password Changed Successfully!</h3>
  <p>Your password has been changed successfully, Log in to your account using this password.</p>
  <a href="{% url 'persona:login' %}" class="f-done-c">Go to Login Page</a>
</div>
