{% include "base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'form.css' %}">
{% block body %}
{% endblock body %}

<div id="form-loading">
  <div id="form-loading-content">
    <div class="loadingio-spinner-gear-79p8ckcu4f3"><div class="ldio-a47uklsyd4">
    <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div></div>
    <div id="loading-txt">
      Sending Email . . .<br>
      <span id="loading-dont-leave">Please, Dont leave this page!</span>
    </div>
  </div>
</div>

<div id="main-form-forgot-mail">
  <h3>Password Reset</h3>
  <div id="main-form-forgot-mail-info">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</div>
  <form class="f" id="f" method="post">
    {% csrf_token %}
    {% for f in form %}
      {{ f.label_tag }} &nbsp; &nbsp;
      {{ f }}
      {% if f.help_text %}
        <small style="color: gray;">{{ f.help_text }}</small>
      {% endif %}
      {% for error in f.errors %}
        <br>
        <small style="color: red;">{{ error }}</small>
      {% endfor %}
      <br><br>
    {% endfor %}
    <button type="submit" id="button" class="hide-for-mobile">Reset My Password</button>
    <button type="submit" class="hide-for-pc" id="forgot-mail-mobile-button">Reset My Password</button>
  </form>
</div>

<script type="text/javascript">
  $('#f').submit(function(){
    var loading = document.getElementById('form-loading');
    loading.style.display = "block";
  })
</script>
