.main-div{
  display: grid;
  grid-template-columns: 37.5% 62.5%;
  margin: 10px;
}
#liked-posts{
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  margin-top: 10px;
}

.switch-mobile{
  display: none;
}
.switch-mobile span{
  padding: 5px 0px;
  background-color: #333;
  color: white;
}
#m-open-image{
  background-color: #F5F5F5;
  color: black;
}

/* Video and Audio */

/* Switch section of video and audio */
.switch-vid-aud{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 5px;
  font-size: 20px;
}
#video-exp{
  border: 1px solid black;
  background-color: lightgreen;
  padding: 7px;
}
#audio-exp{
  border: 1px solid black;
  background-color: gray;
  padding: 7px;
}


/* Video */
#vid-div{
  margin-right: 5px;
}
.vid-youtube{
  //height: 550px;
  //overflow: auto;
}
.post-vid-youtube{
  margin-bottom: 7px;
  background-color: #121212;
}
.vid-post{
  color: white;
  position: relative;
}
.post-vid{
  width: 100%;
  max-height: 550px;
}
.vid-title{
  font-size: 18px;
  margin: 5px;
  padding: 0px;
  font-weight: lighter;
  position: absolute;
}
.vid-title{
  display: block;
}
#youtube-post{

}
.author-dp-vid-you{
  height: 25px;
  width: 25px;
  border-radius: 50px;
  margin: 1px;
}
.username-vid{
  color: white;
  margin: 0px 10px;
  margin-top: 2px;
  font-weight: lighter;
}


/* Audio */
#aud-div{
  margin-right: 5px;
  display: none;
}
#aud-main-post{
  background-color: #343434;
  border-radius: 10px;
}
#aud-post{
  margin-left: 5px;
}
#aud-author-username{
  color: white;
  margin-top: 0px;
}
#aud-title{
  font-size: 17px;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  color: white;
}
#post-aud{
  width: 430px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 50px;
  margin: 2px;
}



/* Image and Text */

/* Switch of image and text */
#switch-img-txt{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 5px;
  font-size: 20px;
}
#image-exp{
  border: 1px solid black;
  background-color: lightgreen;
  padding: 7px;
}
#text-exp{
  border: 1px solid black;
  background-color: gray;
  padding: 7px;
}


/* Image */
#img-here{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-auto-rows: 275px;
}
.img-post{
  width: 98%;
  height: 98%;
  margin: 0px 4px;
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;
}
#post-img{
  width: 100%;
  height: 100%;
}
.image-modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.image-modal-content{
  width: 75%;
  background-color: white;
  padding: 5px;
  margin: auto;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 55% 45%;
}
.close-img{
  color: black;
  font-size: 30px;
  float: right;
  font-weight: bold;
}
.close-img:hover, .close-img:focus{
  cursor: pointer;
  text-decoration: none;
}
.modal-1{

}
#fun_post-img{
  display: flex;
  justify-content: space-around;
}
#img-post-modal{
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
#post-img-modal{
  max-width: 100%;
  max-height: 600px;
}
.comment{
  background-color: #DCDCDC;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 5px;
}
#c-author-username{
  margin: 0px;
}
.c-txt{
  word-wrap: break-word;
}
.c-txt p{
  margin: 0px;
}

.comment-div{
  display: flex;
  margin: 2px;
}
#comment-input{
  width: 100%;
  height: 25px;
}
#commit-submit{
  background-color: lightgreen;
  border-style: none;
}
.all_comments{
  height: 380px;
  border: 1px solid gray;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  text-decoration: none;
  margin: 2px;
  font-size: 15px;
  font-weight: normal;
  color: #36454F;
}
#no_comment{
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  margin: 0px;
}
.post-info p{
  margin: 0px 5px;
  margin-bottom: 2px;
  font-size: 14px;
}
#delete_comment{
  float: right;
  background-color: red;
  border-style: none;
  border: 0.5px solid brown;
}
.overlay-like-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #121212;
  border-radius: 10px;
  opacity: 0.9;
}
.overlay-like-img-div{
  display: none;
  color: white;
  padding: 5px;
}














/* Text */
#txt-here{
  display: none;
}
#aud-div{
  margin-right: 5px;
  display: none;
}
#txt-main-post{
  border-radius: 5px;
  display: grid;
  grid-template-columns: 6% 94%;
  background-color: white;
  border: 0.5px solid gray;
  margin: 0px;
  margin-bottom: 10px;
}
#txt-post{
  margin-left: 5px;
  display: grid;
}
#txt-author-username{
  margin: 0px;
  font-weight: bold;
}
#aud-title{
  font-size: 17px;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  color: white;
}
.likebtn-txt{

}
#txt-post{
  margin-bottom: 5px;
}
#post-txt{
  margin: 0px;
  word-wrap: break-word;
}

#link-post{
  word-wrap: break-word;
  margin-bottom: 5px;
}
#post-link{
  font-size: 15px;
  font-weight: lighter;
}
#link-title{
  font-size: 17px;
  margin: 0px;
  font-weight: normal;
}
#dt-txt{
  color: gray;
  margin-right: 10px;
}



.exp-profile{
  display: flex;
  justify-content: space-between;
}
.user_link{
  text-decoration: none;
  color: black;
}
.post{
  background-color: white;
  border: 0.5px solid gray;
  margin: 0px;
  margin-bottom: 10px;
}

/* (1st div) Profile part for all i.e img, vid, aud, txt, link */
.author-profile{
  display: flex;
  justify-content: space-between;
}
.auth-link{
  text-decoration: none;
  color: black;
}
.auth-p{
  display: flex;
}
.author-dp{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin: 3px;
}
.author-username{
  margin-left: 0px;
  margin-top: 10px;
}
.date-time{
  margin: 2px;
  opacity: 0.5;
  font-size: 14px;
}


/* (3rd div) Like and Comment Part */
.fun_post{
  display: flex;
  justify-content: space-between;
}
.fun-icon-place{
  display: flex;
}
.fun-icon{
  display: flex;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.fun-icon:hover, .fun-icon-txt:hover{
  color: black;
  font-weight: bold;
}
.fun-icon-icon{
  margin: 0px 5px;
  padding: 0px;
}
#comment-icon{
  margin-top: 3px;
}
.likebutton{
  margin: 0px 5px;
  border: none;
  padding: 0px;
  background-color: white;
}
.likeitbtn-vid{
  background-color: #121212;
}
.all_likes{
  margin: 3px;
  font-weight: bold;
  margin-left: 2px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14.5px;
  color: #DCDCDC;
}
.all_likes_comments{
  margin: 3px;
  font-weight: bold;
  margin-left: 2px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14.5px;
  color: #36454F;
}
.all_likes_comments:hover{
  color: black;
}
.img-hover-like{
  background-color: black;
}
.all_likes_img{
  color: black;
}
.all_likes:hover{
  color: gray;
}

.all-comments{
  text-decoration: none;
  margin: 2px;
  font-size: 15px;
  font-weight: normal;
  color: #DCDCDC;
}

/* Info Part of post i.e Description and other */
.post-info p{
  margin: 3px 5px;
  font-size: 14px;
}


.img-modal{

}


.likeitbtn-aud{
  background-color: #343434;
}

.all_likes_txt{
  color: black;
}






.comment{
  background-color: #DCDCDC;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 5px;
  display: grid;
  grid-template-columns: 12% 88%;
}
#c-user-dp{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin: 5px;
}
#c-user-txt{

}
#c-user{
  display: flex;
  justify-content: space-between;
}
#c-txt p{
  margin: 5px 0px;
  padding: 0px;
}
#c-txt-d p{
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
}
#c-date-time{
  font-size: 15px;
  color: gray;
}
#c-delete{
  float: right;
}
#c-delete-btn{
  background-color: red;
  border: 1px solid brown;
  border-radius: 5px;
}




/* Share Modal */
.share-modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}
.share-modal-content{
  width: 33%;
  border-radius: 10px;
  background-color: #343434;
  padding: 5px;
  margin: auto;
  border: 1px solid gray;
}
.share-modal-content h5{
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: white;
  padding-bottom: 5px;
  border-bottom: 0.5px solid white;
}
.shareit{
  margin: 20px;
  margin-bottom: 10px;
}
.share-social{
  display: flex;
  justify-content: space-around;
}
#share-link-div{
  background-color: white;
  margin: 0px 10px;
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
#share-link{
  margin: 0px 7px;
}
.socail-link-copy{
  border: none;
  resize: none;
}
.copt-btn-div{
  margin: 0px;
  padding: 0px;
}
.copy-btn{
  font-size: 13px;
  margin: 0px;
}
.send-mail{margin: 7px;}
.icon-send-gmail{
  display: flex;
  margin: 0px 10px;
  margin-top: 20px;
}
.gmail-input{
  width: 275px;
  height: 20px;
}
.send_mail{
  background-color: lightgreen;
  padding: 5px;
  border-style: none;
  cursor: pointer;
}
.share-close{
  color: white;
  font-size: 30px;
  float: right;
  font-weight: bold;
  cursor: pointer; 
}
.open-share{cursor: pointer;}
.the-end{text-align: center;}
.the-end-post{
  text-align: center;
  margin-bottom: 15px;
}
.the-end-post a{
  color: blue;
  text-decoration: none;
}



/*
#############################
Persona Part starts from Here
#############################
*/
.user{
  background-color: #343434;
  display: grid;
  grid-template-columns: 79.5% 20.5%;
  margin: 10px 7px;
  border-radius: 100px;
  text-align: center;
}
.user-all-likes{
  background-color: #343434;
  display: grid;
  grid-template-columns: 82.5% 17.5%;
  margin: 10px 7px;
  border-radius: 100px;
  text-align: center;
}
#user-two{
  text-decoration: none;
  display: grid;
  grid-template-columns: 25% 75%
}
.user:hover{background-color: #121212;}
.user-all-likes:hover{background-color: #121212;}
#user_f{
  background-color: #343434;
  color: white;
  display: grid;
  grid-template-columns: 21% 79%;
  margin: 10px 7px;
  border-radius: 100px;
  text-align: center;
}
#user_f:hover{background-color: #121212;}
#dp_img{
  height: 60px;
  width: 60px;
  border-radius: 100px;
  margin: 4px;
  margin-right: 0px;
}
.username{
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-top: 3px;
}
.user_name{
  font-size: 14px;
  font-weight: lighter;
  color: gray;
}
.user_link{
  text-decoration: none;
  color: black;
}
.follow-btn{
  border-radius: 100px;
  padding: 21.5px 10.25px;
  margin: 4px;
  margin-left: 0px;
  border: 1px solid gray;
  background-color: lightgreen;
  outline: none;
}
.unfollow-btn{
  border-radius: 100px;
  padding: 20px 0px;
  margin: 4px;
  margin-left: 0px;
  border: 1px solid #343434;
  background-color: gray;
  font-size: 12px;
  outline: none;
}
.follow-btn:hover{opacity: 0.7;}
.follow{}





  /* Likes Modal */
  .mymodal{
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  .modal-content{
    width: 30%;
    border-radius: 10px;
    background-color: white;
    padding: 8px;
    margin: auto;
    max-height: 500px;
    border: 1px solid gray;
    overflow: auto;
  }
  .modal-content::-webkit-scrollbar{width: 7px;}
  .modal-content::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #121212;
    background-color: #343434;
  }
  .modal-content::-webkit-scrollbar-thumb{
      background-color: gray;
      border: solid #343434 0.1px;
    }
  .modal-content::-webkit-scrollbar-thumb:hover{
      background-color: #FFFAFA;
      border: solid #343434 0.5px;
  }
  .modal-content::-webkit-scrollbar-thumb:active{
      background-color: white;
      border: solid grey 0.5px;
  }
  .modal-content h5{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid black;
  }
  .i_like_it{display: none;}
  .close{
    color: black;
    font-size: 30px;
    float: right;
    font-weight: bold;
  }
  .close:hover, .close:focus{
    cursor: pointer;
    text-decoration: none;
  }


.comment-modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 63px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}
.comment-modal-content{
  width: 85%;
  max-height: 89%;
  margin: auto;
  display: grid;
  grid-template-columns: 65% 35%;
  background-color: #F5F5F5;
  border-radius: 7px;
}
.detail-fun_post{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2px;
}
.detail-fun-icon{
  display: flex;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.detail-fun-icon:hover, .detail-fun-icon-txt:hover{
  color: black;
  font-weight: bold;
}
.detail-fun-icon-icon{
  margin: 0px 5px;
  padding: 0px;
}
.detail-fun-icon-txt{
  margin: 3px;
  font-weight: normal;
  margin-left: 2px;
  cursor: pointer;
  font-size: 14px;
  color: #36454F;
}
#detail-read-less{
  padding: 5px 0px;
  margin: 0px 3px;
  width: 98.5%;
}
#detail-read-more{
  color: blue;
  cursor: pointer;
}
#detail-read-more:hover{
  text-decoration: underline;
}
.detail-post-info-full p{
  height: 380px;
}
.comment-input{
  width: 100%;
  height: 25px;
}
.no_comment{
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  margin: 0px;
}
.close-comment{
  font-size: 35px;
  cursor: pointer;
  margin: 0px 3px;
  margin-left: 10px;
}
.detail-date-time{
  display: flex;
}
#c-id{
  height: 425px;
}

.hide-tags, .post-tags{
  display: none;
}
#hide-for-tags{
  display: block;
  cursor: pointer;
  display: inline;
  font-weight: bold;
}
#no-tags{
  margin: 2px;
  font-size: 15px;
  color: #36454F;
  margin-right: 5px;
  cursor: default;
}
.post-tags p{
  margin: 0px 5px;
  margin-bottom: 2px;
  font-size: 14px;
  word-break: break-all;
}
#tag-link{
  color: blue;
  text-decoration: none;
}
#tag-link:hover{
  text-decoration: underline;
}

.post-info p{
  margin: 0px 5px;
  margin-bottom: 2px;
  font-size: 14px;
  word-break: break-all;
}
.read-more{
  cursor: pointer;
  color: blue;
}
.read-more:hover{
  text-decoration: underline;
}
.post-info-full{
  display: none;
}
.post-info-full p{
  margin: 0px 5px;
  margin-bottom: 2px;
  font-size: 14px;
  word-break: break-all;
}
.read-less{
  cursor: pointer;
  color: blue;
}
.read-less:hover{
  text-decoration: underline;
}

.comment-modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 63px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}
.comment-modal-content{
  width: 85%;
  max-height: 89%;
  margin: auto;
  display: grid;
  grid-template-columns: 65% 35%;
  background-color: #F5F5F5;
  border-radius: 7px;
}
.detail-fun_post{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2px;
}
.detail-fun-icon{
  display: flex;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.detail-fun-icon:hover, .detail-fun-icon-txt:hover{
  color: black;
  font-weight: bold;
}
.detail-fun-icon-icon{
  margin: 0px 5px;
  padding: 0px;
}
.detail-fun-icon-txt{
  margin: 3px;
  font-weight: normal;
  margin-left: 2px;
  cursor: pointer;
  font-size: 14px;
  color: #36454F;
}
#detail-read-less{
  padding: 5px 0px;
  margin: 0px 3px;
  width: 98.5%;
}
.detail-post-info-full p{
  height: 380px;
}
.comment-input{
  width: 100%;
  height: 25px;
}
.no_comment{
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  margin: 0px;
}
.close-comment{
  font-size: 35px;
  cursor: pointer;
  margin: 0px 3px;
  margin-left: 10px;
}
.detail-date-time{
  display: flex;
}
#c-id{
  height: 425px;
}

.for-txt-link{
  color: black;
  font-weight: bold;
}
.for-txt-link:hover{
  color: gray;
}

.load-more{
  text-align: center;
}
.load-more a{
  font-size: 16px;
  color: gray;
  text-decoration: none;
}
@keyframes ldio-00n9sjs9kity {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-00n9sjs9kity div > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #0a0a0a;
  animation: ldio-00n9sjs9kity 1s linear infinite;
}.ldio-00n9sjs9kity div:nth-child(1) > div {
  left: 74px;
  top: 44px;
  animation-delay: -0.875s;
}
.ldio-00n9sjs9kity > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 80px 50px;
}.ldio-00n9sjs9kity div:nth-child(2) > div {
  left: 65px;
  top: 65px;
  animation-delay: -0.75s;
}
.ldio-00n9sjs9kity > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 71px 71px;
}.ldio-00n9sjs9kity div:nth-child(3) > div {
  left: 44px;
  top: 74px;
  animation-delay: -0.625s;
}
.ldio-00n9sjs9kity > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 50px 80px;
}.ldio-00n9sjs9kity div:nth-child(4) > div {
  left: 23px;
  top: 65px;
  animation-delay: -0.5s;
}
.ldio-00n9sjs9kity > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 29px 71px;
}.ldio-00n9sjs9kity div:nth-child(5) > div {
  left: 14px;
  top: 44px;
  animation-delay: -0.375s;
}
.ldio-00n9sjs9kity > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 20px 50px;
}.ldio-00n9sjs9kity div:nth-child(6) > div {
  left: 23px;
  top: 23px;
  animation-delay: -0.25s;
}
.ldio-00n9sjs9kity > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 29px 29px;
}.ldio-00n9sjs9kity div:nth-child(7) > div {
  left: 44px;
  top: 14px;
  animation-delay: -0.125s;
}
.ldio-00n9sjs9kity > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 50px 20px;
}.ldio-00n9sjs9kity div:nth-child(8) > div {
  left: 65px;
  top: 23px;
  animation-delay: 0s;
}
.ldio-00n9sjs9kity > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 71px 29px;
}
.loadingio-spinner-spin-yr43v6c09rm {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-00n9sjs9kity {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-00n9sjs9kity div { box-sizing: content-box; }
/* generated by https://loading.io/ */


@media only screen and (max-width: 600px) {
  .main-div{
    grid-template-columns: 100%;
    margin: 7px 0px;
    margin-bottom: 43px;
  }
  #vid-div{
    display: none;
    margin-right: 0px;
  }
  #switch-img-txt{
    display: none;
  }
  #img-here{
    grid-auto-rows: 133px;
    margin-left: 3px;
  }
  .img-post{
    width: 97.5%;
    height: 97.5%;
    margin: 0px;
    margin-bottom: 0px;
  }
  #post-img{
    width: 100%;
    height: 100%;
  }
  #youtube-post iframe{
    height: 215px;
  }
  #post-aud{
    width: 300px;
    height: 25px;
    margin: 2px;
  }
  #aud-main-post{
    border-radius: 0px;
  }
  #aud-div{
    margin-right: 0px;
  }
  #dt-txt{
    margin-right: 0px;
  }
  #txt-main-post{
    display: grid;
    grid-template-columns: 100%;
  }
  .modal-content::-webkit-scrollbar{
    width: 7px;
  }
  .mymodal{
    padding-top: 70px;
  }
  .modal-content{
    width: 85%;
    padding: 8px;
    max-height: 75%;
  }
  .modal-content::-webkit-scrollbar{
    width: 3px;
  }
  .user-all-likes{
    grid-template-columns: 81.5% 18.5%;
    margin: 7px 0px;
  }
  #user_f{
    grid-template-columns: 21% 79%;
    margin: 10px 7px;
  }
  #dp_img{
    height: 50px;
    width: 50px;
    margin: 4px;
  }
  .follow-btn{
    //padding: 21.5px 10.25px;
    padding: 16.5px 6.5px;
    margin: 4px;
    font-size: 12px;
  }
  .unfollow-btn{
    padding: 15px 0px;
    font-size: 12px;
  }
  .share-modal{
    padding-top: 175px;
  }
  .share-modal-content{
    width: 90%;
    padding: 5px;
  }
  .shareit{
    margin: 15px 0px;
    margin-bottom: 10px;
  }
  #share-link-div{
    background-color: white;
    margin: 0px 10px;
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  #share-link{
    margin: 0px 7px;
  }
  .socail-link-copy{
    border: none;
    resize: none;
  }
  .copt-btn-div{
    margin: 0px;
    padding: 0px;
  }
  .copy-btn{
    font-size: 13px;
    margin: 0px;
  }
  .send-mail{margin: 7px;}
  .icon-send-gmail{
    display: flex;
    margin: 0px 10px;
    margin-top: 20px;
  }
  .icon-send-gmail a{
    margin-left: 15px;
  }
  .gmail-input{
    width: 275px;
    height: 20px;
  }
  .send_mail{
    background-color: lightgreen;
    padding: 5px;
    border-style: none;
    cursor: pointer;
  }
  .share-close{
    color: white;
    font-size: 30px;
    float: right;
    font-weight: bold;
    cursor: pointer;
  }
  #share-link{
    margin: 0px 0px;
  }
  .copy-btn{
    font-size: 13px;
    margin: 0px;
  }
  .send-mail{margin: 7px;}
  .icon-send-gmail{
    margin: 0px 0px;
    margin-top: 5px;
  }
  .gmail-input{
    width: 200px;
    height: 20px;
  }
  .comment-modal-content{
    width: 85%;
    max-height: 90%;
    grid-template-columns: 100%;
  }
  .comment-modal{
    padding-top: 60px;
  }
  .detail-fun_post{
    margin-bottom: 2px;
  }
  .detail-fun-icon{
    display: flex;
    margin-right: 10px;
    text-decoration: none;
    color: black;
  }
  .detail-fun-icon:hover, .detail-fun-icon-txt:hover{
    color: black;
    font-weight: bold;
  }
  .detail-fun-icon-icon{
    margin: 0px 5px;
    padding: 0px;
  }
  .detail-fun-icon-txt{
    margin: 3px;
    font-weight: normal;
    margin-left: 2px;
    cursor: pointer;
    font-size: 14px;
    color: #36454F;
  }
  #detail-read-less{
    padding: 5px 0px;
    margin: 0px 3px;
    width: 98.5%;
  }
  .detail-post-info-full p{
    height: 380px;
  }
  .comment-input{
    width: 100%;
    height: 25px;
  }
  .no_comment{
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    margin: 0px;
  }
  .close-comment{
    font-size: 25px;
    cursor: pointer;
    float: right;
  }
  .detail-date-time{
    display: flex;
  }
  #c-id{
    height: 475px;
  }
  .detail-all_comments{
    height: 435px;
    font-size: 15px;
  }
  .detail-post-info-full p{
    height: 430px;
  }
  .hide-for-mobile{
    display: none;
  }
  .detail-all_comments::-webkit-scrollbar{
    width: 3px;
  }
  .comment{
    margin: 5px 0px;
    grid-template-columns: 14% 86%;
  }
  #c-user-dp{
    margin: 3px;
  }
  #c-date-time{
    font-size: 13px;
    color: gray;
  }

  .switch-mobile{
    display: grid;
    text-align: center;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
